body {
  margin: 0px;
  cursor: none; }
  body > * {
    cursor: none; }

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  main input {
    width: 100%;
    background: none;
    border: none;
    marker: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: transparent;
    text-align: right;
    font-size: 3vh;
    font-family: monospace;
    outline: none; }

.wallpaper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10; }
  .wallpaper__background {
    z-index: -20; }
    .wallpaper__background__top {
      width: 100vw;
      height: 50vh;
      position: absolute;
      left: 0px;
      top: 0px; }
    .wallpaper__background__bottom {
      width: 100vw;
      height: 50vh;
      position: absolute;
      left: 0px;
      bottom: 0px; }
  .wallpaper__text {
    height: 25vh;
    width: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-family: monospace;
    color: #ededed; }
    .wallpaper__text.\--top {
      top: 0px;
      align-items: flex-end; }
    .wallpaper__text.\--bottom {
      bottom: 0px;
      align-items: flex-start; }
    .wallpaper__text__content {
      text-align: center; }
  .wallpaper__logo {
    height: 35vh;
    z-index: 10; }



/*# sourceMappingURL=bundle.css.map*/