.wallpaper {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -10;

    &__background {
        z-index: -20;

        &__top {
            width: 100vw;
            height: 50vh;

            position: absolute;
            left: 0px;
            top: 0px;
        }

        &__bottom {
            width: 100vw;
            height: 50vh;

            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }

    &__text {
        height: 25vh;
        width: 100%;

        position: absolute;
        left: 0px;

        display: flex;
        justify-content: center;

        font-size: 5vh;
        font-family: monospace;

        color: #ededed;

        &.--top {
            top: 0px;

            align-items: flex-end;
        }
        &.--bottom {
            bottom: 0px;

            align-items: flex-start;
        }

        &__content {
            text-align: center;
        }
    }

    &__logo {
        height: 35vh;

        z-index: 10;
    }
}
