main {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;

        background: none;
        border: none;
        marker: none;

        position: fixed;
        bottom: 15px;
        right: 15px;

        color: transparent;
        text-align: right;
        font-size: 3vh;
        font-family: monospace;

        outline: none;
    }
}
